@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Marcellus&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap"); */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
}
.Header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0;
    z-index: 2;
    background-color: white;
}

.Header ul {
    margin: 0 !important;
    line-height: 50px;
}

.contact-us ul {
    display: flex;
    list-style: none;
}

.navigations {
    display: flex;
    text-align: center;
    position: relative;
    justify-content: center;
}

.navigations ul {
    padding: 5px 0 10px 0;
    display: flex;
    position: relative;
}

.items {
    display: flex;
    cursor: pointer;
    padding: 0 24px;
    align-items: center;
    list-style-type: none;
    justify-content: center;
    font-weight: 400;
}

.current-menu {
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    text-transform: uppercase;
}

.current-menu:hover {
    color: #000;
}

.items span {
    margin: 0;
    font-size: 14px;
    line-height: 40px;
    text-transform: uppercase;
    color: rgb(51, 51, 51);
    border-bottom: 1.8px solid transparent;
}

::placeholder {
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 1px;
    color: rgb(37, 37, 37);
}

.search-button {
    position: absolute;
    right: 65px;
    top: 10px;
    font-size: 19px;
    cursor: pointer;
}

.menu-bars--active {
    font-weight: 500;
    line-height: 40px;
    color: black !important;
    border-bottom: 1.8px solid rgb(136, 135, 135) !important;
    text-decoration: none;
    text-transform: uppercase;
}

/* ------------------Swiper slide------------------ */
.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* -------------------------------------------- */

.title-pro {
    font-size: 2rem;
    letter-spacing: 0.14em;
    line-height: 36px;
    max-width: none;
    margin-bottom: 15px;
    color: #252525;
    text-transform: none;
    margin-bottom: 15px;
}

.review {
    letter-spacing: 0.15em;
    font-size: 13px;
    color: rgb(73, 71, 71);
}

.button-gender {
    height: 42px;
    width: 200px;
    border: 1px solid black;
    font-size: 13px;
    margin-top: 25px;
}

.button-gender:hover {
    background-color: black;
    color: white;
}

.title-pro {
    text-align: center;
    margin: 40px 0 20px 0;
    font-size: 1.9rem;
}

.product-samples {
    text-align: center;
}

.image-pr-samples {
    width: 100%;
}

.name-pr-samples {
    text-transform: uppercase;
    font-size: 13px;
}

.text-content {
    right: 0;
    bottom: 0;
    position: absolute;
}

.button-shop-now {
    height: 42px;
    width: 200px;
    border: 1px solid black;
    font-size: 12px;
    margin-top: 25px;
    text-transform: uppercase;
}

.button-shop-now:hover {
    background-color: black;
    color: white;
}

.heading {
    font-size: 1.8rem;
    letter-spacing: 0.08em;
    font-weight: 500;
    line-height: 36px;
    margin-bottom: 15px;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 5px;
    font-family: "Gill Sans", sans-serif;
}

.pro-search {
    margin-top: 6em;
    width: 100%;
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 9999;
    background-color: #f5f5f5;
}

.pro-search > i {
    cursor: pointer;
    font-size: 30px;
    color: rgb(97, 96, 96);
    position: absolute;
    top: 1em;
    right: 1em;
}

.con-search {
    width: max-content;
}

.con-search input {
    width: 35em;
    border: none;
    outline: none;
    margin: 5px;
    background-color: transparent;
}

.con-search input::placeholder {
    font-size: 14px;
    font-style: italic;
    color: rgb(88, 87, 87);
    font-family: "Nunito" sans-serif;
}

.title-web {
    text-align: center;
    margin-bottom: 6px;
}

.brand-name {
    color: #000;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 50px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Marcellus", sans-serif;
}

.con-search i {
    cursor: pointer;
    padding: 0 5px;
    font-size: 20px;
}

.con-search h3 {
    text-transform: uppercase;
    font-size: 20px;
    padding: 20px 0;
    color: rgb(77, 74, 74);
    letter-spacing: 1.5px;
    font-weight: 600;
}

.con-size,
.con-color {
    margin: 40px 0;
}
.con-color button {
    margin: 10px 10px;
    font-size: 12px;
}

.select-size,
.select-color {
    border: 1px solid gray;
    padding: 5px 20px;
    margin-right: 20px;
    cursor: pointer;
}

.con-buy {
    text-align: center;
    padding-top: 3em;
}

.buy {
    height: 45px;
    width: 100%;
    border: none;
    background-color: rgb(46, 46, 46);
    color: white;
    text-transform: uppercase;
}

.buy:hover {
    background-color: rgb(8, 8, 8);
}

.description {
    margin: 30px 0;
    letter-spacing: 1px;
    font-size: 14px;
}

.name-product {
    font-size: 25px;
    font-weight: 600;
}

.price {
    font-weight: 600;
    font-size: 20px;
    margin-top: 40px;
}

.price-relate {
    font-weight: 600;
    font-size: 20px;
    margin-top: 10px;
}

.active-select {
    background-color: black !important;
    color: white !important;
}
.search-contact {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.search-contact > i {
    cursor: pointer;
    margin-top: 30px;
    padding: 5px 10px;
    font-size: 25px;
}

.enter-email {
    width: max-content;
    border: 1px solid black;
    padding: 5px 10px;
}

.enter-email i {
    cursor: pointer;
}

.enter-email input {
    outline: none;
    border: none;
    background-color: white;
    height: 2em;
    width: 30em;
    margin: 0 10px;
}

.enter-email input::placeholder {
    color: gray;
    font-size: 14px;
    font-style: italic;
}

.con-footer-1 {
    position: relative;
}

.category-e ul {
    list-style: none;
    color: rgb(75, 74, 74);
}

.category-e li {
    cursor: pointer;
}

.category-e .item > p {
    font-size: 12.5px;
}

.category-e ul .item:first-child {
    color: black;
    font-weight: 600;
}

.name-relate {
    margin-top: 20px;
    font-size: 14px;
    text-transform: uppercase;
}

.btn-sign-in {
    background-color: transparent;
    text-decoration: none;
    color: black;
}

.sign-in {
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 50px;
}

.sign-in h4 {
    font-weight: 600;
}

.active {
    padding: 10px 0;
}

.active input {
    border: 1px solid rgb(233, 233, 233);
    outline: none;
    height: 2.5em;
    width: 25em;
    padding: 0 10px;
    border-radius: 3px;
}

::placeholder {
    font-size: 15px;
    color: gray;
    font-style: italic;
}
.form-sign-in,
.form-sign-up {
    padding: 0 110px;
}

.check {
    padding: 20px 10px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.check span {
    padding: 0 15px;
}

.con-button-sign .btn-sign-in {
    width: 100%;
    background-color: rgb(29, 29, 29);
    color: white;
    border: none;
    height: 2.5em;
    margin-bottom: 15px;
}

.con-button-sign {
    text-align: center;
    padding: 20px 0;
}

.con-button-sign .btn-sign-in:hover {
    background-color: black;
}

.con-button-sign .button-fogot {
    color: rgb(48, 47, 47);
    font-style: italic;
    padding-top: 20px;
}

.sign-up {
    border: 1px solid black;
    background-color: whitesmoke;
    width: 100%;
    height: 2.4em;
}

.sign-up:hover {
    background-color: black;
    color: white;
}

.hidden-form {
    display: none;
}

.button-acc {
    color: rgb(48, 47, 47);
    font-style: italic;
    padding: 0 10px;
}

.list-image {
    width: 100%;
}

.list-name {
    text-transform: uppercase;
    padding-top: 15px;
    font-weight: 600;
    font-size: 13px;
    font-family: "Quicksand", sans-serif;
}

.list-price {
    font-weight: 600;
    font-size: 15px;
    font-family: "Quicksand", sans-serif;
}

.con-product-gender {
    text-align: center;
    padding-bottom: 40px;
}

.fa-user-circle {
    font-size: 22px;
    padding: 0 5px;
}

.menu-select {
    position: absolute;
    text-align: center;
    width: 5em;
    z-index: 1;
    top: 3em;
    right: 8.9em;
    background-color: white;
    box-shadow: 2px 2px 5px rgb(235, 233, 233);
    display: none;
    border: 1px solid rgb(236, 236, 236);
}

.menu-select:before {
    content: "";
    position: absolute;
    top: -8px;
    left: 5px;
    border-bottom: 8px solid rgb(255, 255, 255);
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}

.sign-out {
    margin: 0;
}

.con-select:hover .menu-select {
    display: block;
}

.quantity-select {
    margin: 30px 10px;
    border: 1px solid rgb(85, 85, 85);
    width: max-content;
}

.quantity-select > input {
    height: 2em;
    width: 3em;
    text-align: center;
    outline: none;
    border: none;
    border-left: 1px solid rgb(85, 85, 85);
    border-right: 1px solid rgb(85, 85, 85);
}

.quantity-select .change-number {
    height: 2em;
    width: 2em;
    border: none;
}

.image-cart {
    width: 100%;
}

.active-space {
    padding-left: 3.5em;
    padding-right: 5px;
    color: rgb(77, 77, 77);
    font-size: 13px;
}

.size-cart {
    padding-right: 5px;
    color: rgb(77, 77, 77);
    font-size: 13px;
}

.name-cart {
    font-size: 1em;
    /* font-weight: ; */
}

.quantity-cart {
    color: rgb(136, 133, 133);
    font-size: 14px;
    padding: 0 8px;
}

.amount-cart {
    padding-top: 2em;
    font-size: 25px;
}

.remote-pro-cart {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
}

.remote-pro-cart:hover {
    cursor: pointer;
}

.total-money {
    padding-top: 3em;
    /* text-align: left; */
    float: left;
}

.total-amount {
    font-size: 1.5em;
    font-weight: 600;
    padding-left: 10px;
}

.buy-cart {
    float: right;
    font-size: 1em;
    border: none;
    background-color: rgb(19, 19, 19);
    color: white;
    height: 2.5em;
    width: 12em;
}

.buy-cart:hover {
    background-color: black;
}

.heading-cart {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 600;
}

.no-product > h3 {
    margin-top: 3em;
    padding: 20px 0;
}

.continue-shopping {
    height: 2.5em;
    width: 10em;
    border: 1px solid gray;
    background-color: rgb(228, 228, 228);
}
.continue-shopping:hover {
    background-color: black;
    color: white;
    transition: 0.2s ease-in-out;
}
.contact {
    padding-top: 3em;
    padding-bottom: 2.5em;
}

.shipping-address {
    text-transform: uppercase;
    font-size: 1.1em;
    border-bottom: 1px solid gray;
    padding-bottom: 13px;
    font-weight: 600;
}

.insert-text {
    border: 1px solid rgb(177, 169, 169);
    width: max-content;
    width: 80%;
    border-radius: 3px;
}

.insert-text > input {
    width: 100%;
    padding: 5px 10px;
    border: none;
    outline: none;
    background-color: transparent;
}

.image-pr-samples:hover {
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}

.active-border-chart {
    border: 1px solid rgb(173, 173, 173);
    padding: 5px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    border: 1px solid rgb(230, 230, 230);
    border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(187, 187, 187);
    border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #a5a5a5;
}

.active--current-menu {
    border-bottom: 1px solid rgb(163, 163, 163);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

/* /* .show {
    display: block;
} */

.hidden-sta {
    display: none;
}

.task-tool {
    padding: 50px 80px;
    display: flex;
    background-color: rgb(245, 245, 245);
}

.task-tool img {
    height: 150px;
    width: 150px;
    padding: 20px;
    border: 1px solid rgb(173, 173, 173);
    background-color: rgb(250, 250, 250);
    border-radius: 5px;
    margin: 0 20px;
}

.task-tool:hover {
    cursor: pointer;
}

.task-items:hover img {
    transform: scale(1.05);
    transition: 0.2s ease-in-out;
}

.arrown-back {
    font-size: 20px;
    margin: 20px 10px 20px 20px;
}

/* .con-form-change {
    height: 100vh;
    position: relative;
} */

.wapper-form-change {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    height: 500px;
    width: 450px;
    background-color: white;
    border: 1px solid rgb(231, 231, 231);
    box-shadow: 0 0 100px rgb(219, 219, 219);
    border-radius: 10px;
    padding: 20px;
}

.css-apxyr0 {
    display: flex;
    align-items: center;
}

.active-tool {
    height: 100vh;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.63);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.wapper-- {
    display: flex;
    justify-content: center;
}

.con-textfield {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    width: 100%;
    height: max-content;
}

.css-13xfq8m-MuiTabPanel-root .css-11xur9t-MuiPaper-root-MuiTableContainer-root {
    height: 450px;
}

.edit-form {
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
}

.wapper-edit-form {
    z-index: 2;
    background-color: white;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 7px;
    box-shadow: 0 0 10px rgb(199, 199, 199);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 610px;
    height: max-content;
}

.wapper-pay-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    background-color: white;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 7px;
    box-shadow: 0 0 10px rgb(199, 199, 199);
    width: 600px;
    height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.options {
    width: 200px;
    height: 30px;
    border: 1px solid rgb(173, 172, 172);
    margin-top: 20px;
}

#options__box {
    width: 100%;
    height: 100%;
    outline: none;
    border: none !important;
}

.contai-textfield {
    border: 1px solid rgb(211, 211, 211);
}

input {
    outline: none;
}

.active-border-icon {
    border: 1px solid gray !important;
    border-radius: 0px;
    overflow: hidden;
}

.wallet-icon {
    border: 1px solid transparent;
    cursor: pointer;
}

.content-page-profile {
    display: grid;
    grid-template-columns: 20% 80%;
    margin-top: 20px;
}

.css-55vwbm-MuiTimeline-root {
    width: 150%;
}
